h1 {
  font-style: fantasy;
  text-align: center;
  font-size: 40px;
}
h2 {
  font-size: 30px
}
h3 {
  font-size: 25px
}
p {
  font-family: system-ui;
}
#par1 {
  font-size: 10px;
}
.description {
  font-size: 10px;
}
table {
  width: 90%;
  margin: auto;
}
th {
  padding: 15px;
  background: AntiqueWhite;
}
td {
  text-align: center;
  background: #eaeded;
}
.vide {
  background: white;
}
.surligne {
  background: #FE2E2E;
}